*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Bangers;
}

/*CSS for Header*/

header{
	height: 110vh;
	background: url(../images/bg.jpeg);
	background-size: cover;
	background-position: center;
}

nav{
	height: 75px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav > ul{
	display: flex;
	color: white;
	list-style: none;
}

nav > ul > li{
	margin: 0 20px;
}

/*End CSS for Header*/

/*Style for all button*/
.btn{
	padding: 10px 20px;
	border-radius: 20px;
	border: none;
}

.btn-jn{
	background-color: lightblue;
	font-size: 15px;
}

#jnbtn{
	position: absolute;
	right: 75px;
	top: 20px;
	transition: .4s;
}

#jnbtn:hover{
	top: 15px;
}

/*appearing menu CSS*/
.submenu1{
	background-color: whitesmoke;
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display: flex;
	position: absolute;
	left: 10%;
	top: 60px;
	visibility: hidden;
	transition: .15s
}

.submenu1 > div {
	width: 25%;
}

div + div{
	border-left: 1px solid black;
}

.submenu1 > div > h4, .submenu1 > div > p{
	color: black;
	margin: 10px 0;
	padding: 0 10px;
}

.submenu1 > div > p:hover{
	background-color: darkgray;
}

#mega-menu:hover > .submenu1, #mega-menu > .submenu1:hover{
	visibility: visible;
}

.header-text{
	height: 90vh;
	width: 50%;
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-text > h1{
	font-size: 70px;
}

.header-text > h1, .header-text > p, .header-text > div > button{
	margin-left: 50px;
}

.header-text > div > .btn{
	margin-top: 25px;
	background-color: navy;
	color: white;
}

.header-text > div > .btn:hover{
	margin-top: 20px;
}

/*start section quote*/

.section-quote{
	height: 50vh;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.section-quote > div{
	width: 50%;
}

.section-quote > div > div{
	text-align: center;
	margin-top: 20px;
}

.section-quote > div > div > button{
	background-color: blue;
	color: white;
}

.infoW{
	display: flex;
}

.infoP{
	height: 40vh;
	border-right: 1px solid whitesmoke;
	display: flex;
	margin: 150px 75px;
	justify-content: center;
	align-items: center;
	}

.infoP > img{
	height: 350px;
	border-radius: 10px;
}

.infoR{
	border-left: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

.infoI{
	display: flex;
	margin-top: 10px;
}

.infoRL{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5px;
	width: 40%;
	padding: 5px;
}

.infoRR{
	border-left: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5px;
	width: 40%;
	padding: 5px;
}

.infoRL > p, .infoRR > p{
	position: relative;
	top: 50px;
}

.infoRL > h1{
	font-size: 60px;
	position: absolute;
	left: 700px;
	}

.infoRR > h1{
	font-size: 60px;
	position: absolute;
	left: 975px;
	}

span{
	font-size: 15px;
	position: relative;
	bottom: 35px;
	left: 5px;
}

h5{
	font-size: 15px;
	text-align: center;
	margin-top: 20px;
}

h2{
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
}

.commpage{
	padding: 125px 0;
}

.comments{
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0 100px;
}

.testimonial, .testimonial2, .testimonial3{
	height: 300px;
	width: 250px;
	border:	1px solid black;
	border-radius: 5px;
	margin: 20px;
}

.testimonial p {
	margin: 20px;
	height: 130px;
}

.testimonial img {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	margin:	5px;
	position: relative;
	z-index: 10
}

.testimonial div{
	text-align: center;
}

.testimonial h4{
	margin: 5px;
}

.testimonial hr{
	position: relative;
	top: 40px;

}

.testimonial2 p {
	margin: 20px;
	height: 130px;
}

.testimonial2 img {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	margin:	5px;
	position: relative;
	z-index: 10
}

.testimonial2 div{
	text-align: center;
}

.testimonial2 h4{
	margin: 5px;
}

.testimonial2 hr{
	position: relative;
	top: 40px;

}

.testimonial3 p {
	margin: 20px;
	height: 130px;
}

.testimonial3 img {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	margin:	5px;
	position: relative;
	z-index: 10
}

.testimonial3 div{
	text-align: center;
}

.testimonial3 h4{
	margin: 5px;
}

.testimonial3 hr{
	position: relative;
	top: 40px;

}